<div class="row">
  <div class="col-12">
    <button
      type="button"
      class="btn btn-success"
      (click)="onStartGame()"
      [disabled]="isGameStarted"
    >Start Game</button>

    <button
      type="button"
      class="btn btn-danger"
      (click)="onPauseGame()"
    >Pause Game</button>
  </div>
</div>
