<div class="container">
  <h4>{{title}}</h4>

  <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>

  <app-odd [value]="number" *ngFor="let number of oddNumbers"></app-odd>
  <app-even [value]="number" *ngFor="let number of evenNumbers"></app-even>
</div>
